@using Intelectah.ViewModel
@model FabricantesViewModel

@{
    ViewData["Title"] = "Editar fabricante";
}

<div class="text-center">
    <h1 class="display-4">Editar fabricante</h1>
</div>

<form asp-controller="Fabricantes" asp-action="Alterar" method="post">
    <input type="hidden" asp-for="FabricanteID" />
    @Html.Partial("Forms.cshtml")

    <button type="submit" class="btn btn-primary" style="margin-top:10px">Editar</button>
    <a class="btn btn-secondary" asp-controller="Fabricantes" asp-action="Index" role="button" style="margin-top:10px">Voltar</a>
</form>
