@model Intelectah.ViewModel.ConcessionariasViewModel

@{
    ViewData["Title"] = "Criar Concessionária";
    ViewData["FormAction"] = "Criar";
}

<h1>Criar Nova Concessionária</h1>

@Html.Partial("_Form", Model)
