@model Intelectah.ViewModel.ConcessionariasViewModel

@{
    ViewData["Title"] = "Editar Concessionária";
    ViewData["FormAction"] = "Alterar";
}

<h1>Editar Concessionária</h1>

@Html.Partial("_Form", Model)
