@model IEnumerable<Intelectah.Models.ConcessionariasModel>

@{
    ViewData["Title"] = "Editar Concessionária";
    ViewData["FormAction"] = "Alterar";
}

<h1>Editar Concessionária</h1>

@Html.Partial("Forms", Model)
