@model Intelectah.ViewModel.VendasViewModel

<div class="form-row">
    <div class="col-md-6">
        <label asp-for="ClienteID" class="form-label">Selecione o cliente</label>
        <select asp-for="ClienteID" asp-items="ViewBag.Clientes" class="form-select">
            <option value="">Selecione um cliente</option>
        </select>
        <span asp-validation-for="ClienteID" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="DataVenda" class="form-label">Informe a data da venda</label>
        <input asp-for="DataVenda" class="form-control" type="date" />
        <span asp-validation-for="DataVenda" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="ValorTotal" class="form-label">Valor R$</label>
        <input asp-for="ValorTotal" class="form-control" type="number" step="0.01" />
        <span asp-validation-for="ValorTotal" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="UsuarioID" class="form-label">Vendedor</label>
        <select asp-for="UsuarioID" asp-items="ViewBag.Usuarios" class="form-select">
            <option value="">Selecione um usuário</option>
        </select>
        <span asp-validation-for="UsuarioID" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="ConcessionariaID" class="form-label">Concessionária</label>
        <select asp-for="ConcessionariaID" asp-items="ViewBag.Concessionarias" class="form-select">
            <option value="">Selecione uma concessionária</option>
        </select>
        <span asp-validation-for="ConcessionariaID" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="FabricanteID" class="form-label">Fabricante</label>
        <select asp-for="FabricanteID" asp-items="ViewBag.Fabricantes" class="form-select" id="FabricanteID">
            <option value="">Selecione um fabricante</option>
        </select>
        <span asp-validation-for="FabricanteID" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="VeiculoID" class="form-label">Modelo</label>
        <select asp-for="VeiculoID" asp-items="ViewBag.Modelos" class="form-select" id="VeiculoID">
            <option value="">Selecione um modelo</option>
        </select>
        <span asp-validation-for="VeiculoID" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="ProtocoloVenda" class="form-label">Protocolo da Venda</label>
        <input asp-for="ProtocoloVenda" class="form-control" readonly />
        <span asp-validation-for="ProtocoloVenda" class="text-danger"></span>
    </div>
</div>

@section Scripts {
    <script src="~/js/vendas.js"></script>
}

