@model Intelectah.ViewModel.VendasViewModel

<form asp-action="@ViewData["FormAction"]" method="post">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <label asp-for="ClienteID" class="form-label"></label>
                <select asp-for="ClienteID" asp-items="ViewBag.Clientes" class="form-select">
                    <option value="">Selecione um cliente</option>
                </select>
                <span asp-validation-for="ClienteID" class="text-danger"></span>
            </div>

            <div class="col-md-6 ">
                <label asp-for="DataVenda" class="form-label"></label>
                <input asp-for="DataVenda" class="form-control" type="date" />
                <span asp-validation-for="DataVenda" class="text-danger"></span>
            </div>

            <div class="col-md-6">
                <label asp-for="ValorTotal" class="form-label"></label>
                <input asp-for="ValorTotal" class="form-control" type="number" step="0.01" />
                <span asp-validation-for="ValorTotal" class="text-danger"></span>
            </div>

            <div class="col-md-6">
                <label asp-for="UsuarioID" class="form-label"></label>
                <select asp-for="UsuarioID" asp-items="ViewBag.Usuarios" class="form-select">
                    <option value="">Selecione um usuário</option>
                </select>
                <span asp-validation-for="UsuarioID" class="text-danger"></span>
            </div>

            <div class="col-md-6">
                <label asp-for="ConcessionariaID" class="form-label"></label>
                <select asp-for="ConcessionariaID" asp-items="ViewBag.Concessionarias" class="form-select">
                    <option value="">Selecione uma concessionária</option>
                </select>
                <span asp-validation-for="ConcessionariaID" class="text-danger"></span>
            </div>

            <div class="col-md-6">
                <label asp-for="FabricanteID" class="form-label"></label>
                <select asp-for="FabricanteID" asp-items="ViewBag.Fabricantes" class="form-select">
                    <option value="">Selecione um fabricante</option>
                </select>
                <span asp-validation-for="FabricanteID" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="VeiculoID" class="form-label"></label>
                <select asp-for="VeiculoID" asp-items="ViewBag.Modelos" class="form-select">
                    <option value="">Selecione um modelo</option>
                </select>
                <span asp-validation-for="VeiculoID" class="text-danger"></span>
            </div>
        </div>
    </div>

    </div>
</form>
