@model Intelectah.ViewModel.VeiculosViewModel
@using Microsoft.AspNetCore.Mvc.Rendering

@{
    ViewData["Title"] = "Adicionar veículo";
}

<div class="text-center">
    <h1 class="display-4">Adicionar veículo</h1>
</div>
<form asp-controller="Veiculos" asp-action="Criar" method="post">

    @Html.Partial("Forms")
</form>
