@model Intelectah.ViewModel.VeiculosViewModel

@{
    ViewData["Title"] = "Editar veículo";
}


<div class="text-center">

    <h1 class="display-4">Editar fabricante</h1>

</div>

<form asp-controller="Veiculos" asp-action="Editar" method="post">
    <input type="hidden" asp-for="VeiculoID" />
    @Html.Partial("Forms.cshtml")
</form>


