@model Intelectah.ViewModel.VeiculosViewModel
@using Intelectah.Enums
@using Microsoft.AspNetCore.Mvc.Rendering

<div class="row">
    <div class="form-group col-md-6">
        <label asp-for="ModeloVeiculo">Modelo</label>
        <input asp-for="ModeloVeiculo" class="form-control" />
        <span asp-validation-for="ModeloVeiculo" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="AnoFabricacao">Ano de fabricação</label>
        <input asp-for="AnoFabricacao" class="form-control" />
        <span asp-validation-for="AnoFabricacao" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="ValorVeiculo">Valor do veículo R$</label>
        <input asp-for="ValorVeiculo" class="form-control" />
        <span asp-validation-for="ValorVeiculo" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="Tipo">Tipo de veículo</label>
        <select asp-for="Tipo" class="form-control" asp-items="Model.TiposVeiculos">
            <option value="">Selecione um Tipo</option>
        </select>
        <span asp-validation-for="Tipo" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="FabricanteID">Fabricante</label>
        <select asp-for="FabricanteID" class="form-control" asp-items="Model.Fabricantes">
            <option value="">Selecione um Fabricante</option>
        </select>
        <span asp-validation-for="FabricanteID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Descricao">Descrição do veículo</label>
        <textarea asp-for="Descricao" class="form-control"></textarea>
        <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>
</div>
